@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: system-ui, -apple-system, 'Segoe UI', 'Hiragino Sans',
    'Noto Sans JP', Meiryo, sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}
